[submodule "lost-sector"]
	path = lost-sector
	url = https://github.com/8-Bit-Warframe/Lost-Sector.git
[submodule "dethsquare"]
	path = dethsquare
	url = https://github.com/8-Bit-Warframe/Dethsquare-Engine.git
